<a href="./records/new">Create</a>
<ul>
  {{#each records}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.category}}
    {{this.amount}}
    <a href="./records/{{ this._id }}/edit">edit</a>
    <form action="./todos/{{ this._id }}/delete" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>